body {
	font-family: 'Muli', sans-serif;
	background: #ecf0f1;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid red;
	margin: 0.5em 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #353b48;
}

p {
	margin: 0;
	padding: 0;
}

a:hover {
	color: #E74C3C;
}

.header-bg {
	background: #e74c3c !important;
}

.card {
	border: none !Important;
}

.input-group-text {
	color: black !important;
}

.fa-search {
	color: black !important;
}

.nav-link {
	padding: 5px 20px !important;
	font-size: 14px;
	text-transform: capitalize;
	/*	font-weight: bold;*/
	color: #fff !important;
	border-right: 1px solid #c0392b;
}

.nav-link:hover {
	background: #c0392b;
	border-radius: 2px;
}
.card-body{
	padding-top:0 !important;
}
.modal-head{
	background-color: #c0392b;
}
.modal-head h5, .modal-head button{
	color: white;
}
/*====================================== CHAT ======================================================*/
.chat-box {
	background-color: white;
	height: 85vh;
	padding: 0px;
}
.active-chat{
	background-color: #E74C3C;
	color: #fff;
}
.chat-m{
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.chat-users {
	border-right: 2px solid lightgray;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.chat-user {
	width: 60%;
	float: right;
	color: #fff;
	background-color: #E74C3C;
}

.chat-friend {
	width: 60%;
	background-color: #F1F0F0;
}

.chat-user,
.chat-friend {
	padding: 10px 1em;
	border-radius: 50px;
}

.chat-msg {
	display: block;
	font-size: 14px;
}

.fa-paper-plane {
	color: #fff;
}

.chat-button {
	border-radius: 50%;
	background: #E74C3C !important;
}

.chat-message {
	position: relative;
}
.chat-input {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #dcdde1;
	width: 96%;
	position: absolute;
	bottom: 0;
}
.chat-users a{
	text-decoration: none;
}
.linka{
	border-bottom: 1px solid #E74B3D;
	padding: 10px;
}
.linka:hover{
	background-color: #F1F0F0;
	color: black;
	text-decoration: none;
}

.chat-message-container {
	height: 90%;
	overflow-y: scroll;
	margin-bottom: 2px;
}

.form-control {
	border: none;
}

::-webkit-scrollbar {
	width: 5px;
}

::--moz--scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/*===================================== MENTORSHIP ======================================================*/
.apprentice-sub-link{
	font-size: 15px;
	color: darkgray;
}
.apprentice-sub-link:hover{
	color: #c0392b;
	cursor: pointer;
}
.mentor-title{
	font-size: 13px;
}
.mentor-title {
	font-size: 14px;
	color: gray;
	text-transform: uppercase;
}

.mentor-gray {
	color: darkgray;
}
.mentor-gray:hover{
	color: #c0392b;
	cursor: pointer;
}

.mentor-num {
	font-size: 20px;
	font-weight: 1000;
}

.mentor-profile {
	font-weight: 1000;
	color: #c0392b;
}
.profile-initials-mentor {
	position: relative;
	top: 15px;
	font-size: 20px;
	line-height: 5px;
	color: #fff;
	text-transform: lowercase;
	display: block;
}
.profile-name-mentor{
	font-size: 17px;
	margin-top: 12px;
}
.profile-avatar-circle-mentor {
	margin: 0 auto;
	width: 45px;
	height: 45px;
	background-color: #2d2d2d;
	border: 5px solid #fff;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.fa-envelope, .fa-times, .fa-check{
	font-size: 18px;
	color: darkgray;
}
.pp{
	font-size:12px;
	padding-left: 12px;
	padding-right: 12px;
}
.request-accept, .request-decline, .request-msg{
	font-size:12px;
	padding-left: 12px;
	padding-right: 12px;
}
.request-accept:hover, .request-decline:hover{
	background-color: #c0392b;
	color:white;
}
.request-accept{
	background-color: white;
}
.request-decline{
	background-color: lightgray;
}
.request-msg{
	background-color: #c0392b;
	color: white;

}
.fa-check{
	font-size: 16px;
}
.error-message{
	font-size: 14px;
	font-style: italic;
	color: #636e72;
	margin: 0;
}
span{
	margin: 0;
}
/*==============================MAIN============================================================*/
/*
.main-profile{
	margin: 0 30px;
}
.main-left-sidebar, .main-right-sidebar{
	padding: 0;
}
*/
.main-left-sidebar-header {
	padding-top: 40px;
	background: linear-gradient(to bottom, #E74C3C 60%, #FFFFFF 40%);
	border: none;
}

#circle {
	width: 150px;
	height: 150px;
	background: #000;
	border-radius: 50%;
	margin: 0 auto;
	border: 5px solid #fff;
}

.main-left-sidebar p {
	margin-bottom: 0 !important;
}

.main-left-sidebar a {
	display: block;
	text-decoration: none;
}

.main-h2 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.main-devposition,
.main-location {
	display: block;
	color: #636e72;
	text-transform: capitalize;

}

.main-tablink {
	font-size: 20px;
	color: #2d2d2d !important;
}

.main-tablink:hover {
	background: #E74C3C !important;
	color: #fff !important;
	border-top: 2px solid #2d2d2d !important;
}

.main-tablink:active {
	background: #E74C3C !important;
	color: #fff !important;
	border-top: 2px solid #2d2d2d !important;
}

.main-profile-card {
	border-radius: none !important;
	border-top: 5px solid #e74c3c !important;
	margin-bottom: 25px;
}

.main-button {
	display: inline-block;
}

.fa-plus,
.fa-pen,
.fa-trash{
	font-size: 12px;
	color: #e74c3c;
	padding: 0;
}

.main-h5 {
	font-weight: 600;
	margin-bottom: 0;
}

.main-modal-button {
	right: 0;
	float: right;
	display: inline-block;
}

.main-cardBody {
	padding-bottom: 0;
}

.main-action-button {
	float: right;
	top: 0;
	display: inline;
}

/*====================================DEVELOPERS=========================================================*/
.row {
	margin: 0 auto;
}

.dev-container {
	float: left !important;
	text-align: center;
	/*	margin:0 auto;*/
	margin: 10px;
	padding: 0;
	/*	width: 100%!important;*/
}

.dev-circle {
	width: 80px;
	height: 80px;
	background: #000;
	border-radius: 50%;
	margin: 0 auto;
	border: 5px solid #fff;
}

.dev-h3 {
	text-transform:uppercase;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}

.dev-card-body {
	padding-top: 0;
}

.dev-avatar-circle {
	float: left;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #E74C3C;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.dev-initials {
	position: relative;
	top: 12.5px;
	font-size: 25px;
	line-height: 25px;
	color: #fff;
	text-transform: lowercase;
}

.card-header.dev-header {
	border: none;
	background: #fff;
	margin: 0 auto !important;
}

.dev-card {
	width: 250px !important;
}

.profile-avatar-circle {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: #2d2d2d;
	border: 5px solid #fff;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.profile-initials {
	position: relative;
	top: 25px;
	font-size: 60px;
	line-height: 30px;
	color: #fff;
	text-transform: lowercase;
}

.dev-profile-container {
	top: -30px;
	margin: 0 auto !important;
	background-color: #2d2d2d !important;
}

.card-header.homepage-left-sidebar-header {
	padding-top: 40px;
	background: linear-gradient(to bottom, #E74C3C 60%, #FFFFFF 40%);
	border: none;
	/*	background: #E74C3C;*/
}

.dev-editBtn {
	padding: 0;
	font-weight: bold;
	color: #E74C3C !important;
}

.dev-editBtn:hover {
	color: #2d2d2d !important;
}
.dev-contact p{
/*	font-weight: bold;*/
	color: #636e72;
}
.dev-contact-icon{
	color: #636e72;
}
.dev-contact-info{
	color: #E74C3C;
}
.dev-contact-info:hover{
	color: #2d2d2d;
}
.dev-required{
	color: red;
	font-weight: bold;
}
.dev-card p{
	text-transform:capitalize;
}
/*=================================HOMEPAGE=====================================================*/

.homepage-profile {
	margin: 0 20px;
}

.homepage-left-sidebar,
.homepagge-right-sidebar {
	padding: 0;
}

/*=====================================STATUS================================*/
.modal-dialog {
	width: 800px !important;
}

.form-status {
	display: inline-block;
	width: 90%;
}

.status-modal-container {
	width: 500px !important;
}

.status-modal-body {
	padding: 10px 0 0 10px;
}

.status-modal-footer {
	padding-bottom: 0;
}

.status-addStatus {
	background: #FBC531;
	border: none;
	color: #fff;
}

.status-btn {
	background: white !important;
	text-align: left;
	color: gray;
	font-style: italic;
}


.status-avatar {
	display: inline-block;
	width: 30px;
	border-radius: 50%;
}

.status-container {
	border: none;
	border-left: 2px solid #343A40;
	margin: 20px 20px 20px 0;
	/*	padding: 5px 10px 20px 10px;*/
}

.status-comment {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.statusBtn {
	background-color: transparent;
	border: none;
	color: #2d2d2d;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

/*======================================SIDEBAR======================================================*/
.sidebar-h5 {
	border-top: 2px solid #E74C3C;
	background: #fff;
	padding: 10px;
	text-align: left;
}

.sidebar-right-height {
	height: 200px;
	overflow: auto;
}
/*=======================================STATUS==================================================*/
.status-container{
	background-color: white;
}